.notification-bubble {
  background-color: #4A90E2;
  border-radius: 10px;
  padding: 20px;

  @media (min-width: $screen-sm) {
    margin-top: 25px;
  }

  svg {
    @extend .img-responsive;
    width: 100%;
  }
}
