fieldset.radio-highlight {
  legend {
    border-bottom: none;
    margin-bottom: 0;
  }
  label {
    display: block;
    padding: 5px 30px 8px;
    border-radius: 5px;

    &.active {
      background: lighten($brand-primary, 25%);
    }
  }
}
