@import "modules/bootstrap";

// Vendors
@import "bootstrap";
@import "font-awesome";

// Partials
@import "partials/buttons";
@import "partials/code";
@import "partials/jumbotron";
@import "partials/notification_bubble";
@import "partials/panels";
@import "partials/progress";
@import "partials/radios";
@import "partials/typography";

canvas {
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
